@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  margin: 0;
  --bs-body-font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Comic CAT";
  src: local("Comic CAT"),
   url("./assets/fonts/Comic CAT/Comic_CAT.otf") format("truetype");
  font-weight: medium;
}